<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="sqlErrorTranslator" class="org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator">
		<constructor-arg><value>MySQL</value></constructor-arg>
	</bean>

	<bean id="classicJdbcTemplate" class="net.dbaeye.dao.support.BaseJdbcTemplate">
	    <property name="dataSource"><ref bean="dataSource"/></property>
		<property name="exceptionTranslator"><ref local="sqlErrorTranslator"/></property>
	</bean>
	
	<!-- DAOs -->
	
    <bean id="userDao" class="net.dbaeye.test.dao.jdbc.UserDaoJdbc">
		<property name="classicJdbcTemplate"><ref local="classicJdbcTemplate"/></property>
	</bean>
	
	
	
</beans>