<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="transactionManager" class="net.dbaeye.transaction.BaseTransactionManager"></bean>
	
	<bean id="txAspect" class="net.dbaeye.test.aspectj.TransactionAspect" factory-method="aspectOf">
    	<property name="transactionManager"><ref local="transactionManager"/></property>
    </bean>
	
	 <!--########################## userManager -->
        
    <bean id="userManager" class="net.dbaeye.test.service.impl.UserManagerImpl">
		<property name="userDao"><ref bean="userDao"/></property>			
	</bean>

</beans>